* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Josefin Sans;
  font-size: 16px;
}

.right {
  display: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url(images/bg-pattern-desktop.svg);
  padding: 2rem 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

header .logo {
  margin-bottom: 4rem;
}

header .img__hero--mobile {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 3rem;
}

.right .img__hero--desktop {
  display: none;
}

main {
  text-align: center;
}

main h1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: hsl(0, 6%, 24%);
  letter-spacing: 10px;
  width: 80%;
  margin: 1rem auto;
}

main h1 span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

main p {
  line-height: 1.7;
  color: hsl(0, 36%, 70%);
  margin: 0 1.4rem;
}

footer {
  margin: 2rem auto;
}

footer input[type="email"] {
  width: 100%;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 5px;
  border: 1px solid hsl(0, 36%, 70%);
  font-size: 1.2rem;
  border-radius: 10rem;
  font-family: inherit;
  color: hsl(0, 36%, 70%);
}

button {
  padding: 1.7rem 2.9rem;
  border: none;
  border-radius: 20rem;

  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: white;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  bottom: 3.4rem;
  left: 18rem;
}

button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(images/icon-arrow.svg);
  background-size: contain 85%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20rem;
  z-index: 1;
}

::placeholder {
  color: hsl(0, 36%, 70%);
  font-size: 1rem;
}

footer input[type="email"]:focus {
  border: 2px solid hsl(0, 36%, 70%);
  outline: none;
}

footer input[type="email"].error {
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: right 5rem center;
  background-size: 1.5rem;
  border: 1px solid hsl(0, 36%, 70%);
}

.empty-email-message,
.invalid-email-message {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  color: hsl(0, 93%, 68%);
  font-size: 0.8rem;
  margin: 0;
  position: relative;
  bottom: 2.5rem;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
    background-image: url(images/bg-pattern-desktop.svg);
    margin: 0 auto;
  }
  .container {
    padding: 0rem 0;
  }

  header .img__hero--mobile {
    display: none;
  }

  .right .img__hero--desktop {
    display: block;
    width: 80%;
    object-fit: cover;
    object-position: center;
  }

  header {
    margin: 0;
  }

  header img {
    margin-top: 1.5rem;
  }

  main {
    text-align: left;
    padding: 0;
    margin: 0;
  }

  main h1 {
    width: 100%;
    margin-top: 3rem;
    line-height: 1.1;
    font-size: 3.3rem;
    font-weight: 600;
  }

  main p {
    width: 100%;
    margin: 1rem 0;
  }

  footer {
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    align-self: left;
  }

  footer form {
    align-self: left;
    width: 100%;
  }

  button {
    left: 24rem;
  }
}
